<!DOCTYPE html>
<html>
<head>
  <title>Teach Live</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Golos+Text&display=swap" rel="stylesheet">
</head>
<nav class="navbar">
  <img class="logo" src="{{ url_for('static', filename='img/logo2.png') }}" alt="" onclick="window.location.href='/'">
  <ul class="nav-menu">
    <li><a href="/about">About</a></li>
    <li><a href="/presenter">Presenters</a></li>
    <li><a href="/attendees">Attendees</a></li>
    <li><a href="/pricing">Pricing</a></li>
    <li><a href="/ceu">CEU</a></li>
  </ul>
</nav>
<div class="navline"></div>
<body tabIndex=0>

  <script type="text/javascript" src="https://form.jotform.com/jsform/230796413330048"></script>

  <footer>
    <a href="/contact" style="margin-right: 25px;">Contact us</a>
    <a href="/terms" style="margin-right: 25px;">Terms and Conditions</a>
    <a href="/about">About</a>
  </footer>  
</body>
</html>